<ion-card size="10" size-sm="12">
  <ion-card-header>
    <ion-avatar>
      <ion-img [src]="story.storyImage"></ion-img>
    </ion-avatar>
  </ion-card-header>    
  
  <ion-card-content>
    <h2>{{story.storyTitle}}</h2>
    <div class="story-details" text-wrap style="margin-bottom: 0.5rem;">         
      <ion-text slot="start" small><small>Writer: {{ story.userName }}</small></ion-text>      
    </div>
    <div class="story-details" text-wrap>      
      <small>{{ story.postedOn | date:'yyyy-MM-dd HH:mm:ss' }}</small>                     
    </div>
    <ion-text slot="start" small>
      <small>
        <ion-button fill="clear"
        color="primary"
        [routerLink]="[
        '/', 'featured', 'tabs', 'stories', 'story-detail',
        story.id]"
        ><small>More</small></ion-button> 
      </small> 
    </ion-text>
  </ion-card-content>
</ion-card>
