<ion-item>
  <ion-thumbnail slot="start">
    <ion-img [src]="story.storyImage"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{story.storyTitle}}</h2>
    <div class="story-details" text-wrap style="margin-bottom: 0.5rem;">         
      <ion-text slot="start" small><small>Writer: {{ story.userName }}</small></ion-text>      
    </div>
    <div class="story-details" text-wrap slot="start">      
      <small>{{ story.postedOn | date:'yyyy-MM-dd HH:mm:ss' }}</small>                     
    </div>
    <ion-text slot="start" small>
      <small>
        <ion-button fill="clear"
        color="primary"
        [routerLink]="[
        '/', 'featured', 'tabs', 'stories', 'story-detail',
        story.id]"
        ><small>More</small></ion-button> 
      </small> 
    </ion-text>
  </ion-label>
</ion-item>
