.story-details {
    display: flex;
    align-items: center;

    .space-left {
        margin-left: 25px;
    }
}

ion-avatar {
    --border-radius: 50%;
    width: 5rem;
}
ion-card-content {
    color: rgb(10, 10, 41);     
}