<ion-card size="" size-sm="5">
  <ion-card-header>
    <ion-avatar>
      <ion-img [src]="blog.blogImage"></ion-img>
    </ion-avatar>
  </ion-card-header>

  <ion-card-content text-wrap>
    <h2>{{blog.blogTitle}}</h2>
    <div class="story-details">         
      <ion-text slot="start" small><small>Writer: {{ blog.blogFirstName + ' ' + blog.blogLastName }}</small></ion-text> {{' '}}
      <ion-text class="space-left" slot="end"><small>{{ blog.blogDate | date:'yyyy-MM-dd HH:mm:ss' }}</small></ion-text>                      
    </div>
    <ion-text slot="start" small>
      <small>
        <ion-button fill="clear"
        color="primary"
        [routerLink]="[
        '/', 'blog', 'blog-detail',
        blog.id]"
        >More</ion-button> 
      </small> 
    </ion-text>
  </ion-card-content>
</ion-card>
