<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
    <ion-buttons slot="end" *ngIf="isAdmin">
      <ion-button [routerLink]="[
        '/', 'about', 'about-edit']">
        <ion-icon name="add"></ion-icon>
      </ion-button>        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About Us</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="!isLoading">
      <ion-img [src]="aboutData.aboutImage"></ion-img>
      {{ aboutData.aboutDetails }}
    </ion-card-content>
  </ion-card>
</ion-content>
