
ion-list {
    --background: url('../../../assets/background-images/bridge_pay_background5.jpeg'); 
    color: white; 
     
    ion-item {
      --background: url('../../../assets/background-images/bridge_pay_background5.jpeg');
    }  

    ion-card-title {
        color: white;
    }
}
