<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>International Stories</ion-title>    
    <ion-buttons slot="end" *ngIf="isAdmin">
      <ion-button [routerLink]="[
        '/', 'featured', 'tabs', 'stories', 'edit-story',
        '']">
        <ion-icon name="add"></ion-icon>
      </ion-button>        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loadedStories.length > 0">
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="first-column">
        <div>
          <ion-card *ngIf="isAdmin">
            <ion-item (click)="onCreateStory()">
              <ion-chip color="tertiary">
                <ion-label><ion-card-title>Create New Story</ion-card-title></ion-label>
              </ion-chip>
            </ion-item>                    
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-chip color="tertiary">
                <ion-label><ion-card-title>Latest Stories</ion-card-title></ion-label>
              </ion-chip>
            </ion-item>                    
          </ion-card>
          
          <ion-card *ngFor="let storyTitle of loadedStoryTitles">          
            <ion-item (click)="onSearchStoryFilter(storyTitle)">
              <ion-chip color="primary">
                <ion-label>{{storyTitle}}</ion-label>
              </ion-chip>
            </ion-item>          
          </ion-card>
        </div>
      </ion-col>
      <ion-col size-sm="12" size-md="8" size-lg="8" class="second-column">
        <ion-grid>
          <ion-row align-items-start>
            <ion-col *ngIf="userName" size-sm="4">
              <ion-card-subtitle color="primary">Hi, <i>{{userName | titlecase}}!</i></ion-card-subtitle> 
            </ion-col>
            <ion-col *ngIf="totalUsers"size-sm="4">
              <ion-card-subtitle color="primary">{{ totalUsers }}{{' '}}Users on Platform</ion-card-subtitle> 
            </ion-col>
            <ion-col *ngIf="totalUsers"size-sm="4">
              <ion-card-subtitle color="primary">Refresh stories</ion-card-subtitle> 
              <ion-toggle (ionChange)="refreshFilter()"></ion-toggle>     
            </ion-col>
          </ion-row>        
        </ion-grid>
        <ion-card>
          <ion-card-title class="main">{{loadedStories[0].storyTitle}}</ion-card-title>
          <ion-card-header>      
              <ion-img [src]="loadedStories[0].storyImage"></ion-img>     
          </ion-card-header>    
          
          <ion-card-content>      
            <div class="story-details" text-wrap style="margin-bottom: 0.5rem;">         
              <ion-text slot="start" small><small>Writer: {{ loadedStories[0].userName }}</small></ion-text>      
            </div>
            <div class="story-details" text-wrap>      
              <small>{{ loadedStories[0].postedOn | date:'yyyy-MM-dd HH:mm:ss' }}</small>                     
            </div>
            <ion-text slot="start" small>
              <small>
                <ion-button fill="clear"
                color="primary"
                [routerLink]="[
                '/', 'featured', 'tabs', 'stories', 'story-detail',
                loadedStories[0].id]"
                ><small>More</small></ion-button> 
              </small> 
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-grid>
          <ion-row align-items-start>
            <ion-col *ngFor="let story of loadedStories">
              <app-story-item [story]="story"></app-story-item>  
                <ion-item-options side="start">
                  <ion-item-option color="secondary" (click)="onEdit(story.id, slidingItem)">
                    <ion-icon name="create" slot="icon-only"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
            </ion-col>
          </ion-row>        
        </ion-grid>
        <ion-grid *ngIf="loadedStories.length < 1">
          <ion-row align-items-start>
            <ion-col *ngIf="userName" size-sm="6">
              <ion-card-subtitle color="primary">Sorry, there are no results for this category</ion-card-subtitle> 
            </ion-col>      
          </ion-row>        
        </ion-grid>
        <ion-row *ngIf="loadedStories.length > 0"> 
          <ion-col>        
            <ion-badge color="tertiary" (click)="onScrollFirst(firstPage)" style="padding: 3px;">{{ firstPage }}</ion-badge>         
            <ion-badge *ngIf="previousPage != firstPage" color="warning" (click)="onScrollPrev(previousPage)" style="padding: 3px;">Prev ( {{ previousPage }} )</ion-badge>          
          
            <ion-badge *ngIf="lastPage > nextPage" color="primary" (click)="onScrollNext(nextPage)" style="padding: 3px;">Next ( {{ nextPage }} )</ion-badge>
            <ion-badge color="tertiary" (click)="onScrollLast(lastPage)" style="padding: 3px;">{{ lastPage }}</ion-badge>
          </ion-col> 
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>   
</ion-content>

