<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>UK Eessentials</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="[
        '/', 'uk-life-essential', 'uk-quiz-details']">
        <ion-badge color="tertiary" style="padding: 3px;">Quiz</ion-badge>         

      </ion-button>        
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="[
        '/', 'uk-life-essential', 'quiz-results']">
        <ion-badge color="secondary" style="padding: 3px;">Results</ion-badge>         

      </ion-button>        
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isAdmin">
      <ion-button [routerLink]="[
        '/', 'uk-life-essential', 'edit-life-essential',
        '']">
        <ion-icon name="add"></ion-icon>
      </ion-button>        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-start>
      <ion-col *ngIf="userName" size-sm="6">
        <ion-card-subtitle color="primary">Hi, <i>{{userName | titlecase}}!</i></ion-card-subtitle> 
      </ion-col>
      <ion-col *ngIf="totalUsers"size-sm="6">
        <ion-card-subtitle color="primary">{{ totalUsers }}{{' '}}Users on Platform</ion-card-subtitle> 
      </ion-col>
    </ion-row>        
  </ion-grid>
  <ion-grid>    
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">         
        <ion-list *ngIf="loadedEssentials.length > 0">
          <ion-item-sliding *ngFor="let essential of loadedEssentials" #slidingItem>
            <app-essential-item [essential]="essential"></app-essential-item>  
            <ion-item-options side="start">
              <ion-item-option color="secondary" (click)="onEdit(essential.id, slidingItem)">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>            
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-title>          
    <ion-badge color="tertiary" (click)="onScrollFirst(firstPage)" style="padding: 3px;">{{ firstPage }}</ion-badge>         
    <ion-badge *ngIf="previousPage != firstPage" color="warning" (click)="onScrollPrev(previousPage)" style="padding: 3px;">Prev ( {{ previousPage }} )</ion-badge>          
  
    <ion-badge *ngIf="lastPage > nextPage" color="primary" (click)="onScrollNext(nextPage)" style="padding: 3px;">Next ( {{ nextPage }} )</ion-badge>
    <ion-badge color="tertiary" (click)="onScrollLast(lastPage)" style="padding: 3px;">{{ lastPage }}</ion-badge>
  </ion-title> 
</ion-content>
