<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quiz & Eessential Info</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="[
        '/', 'uk-life-essential', 'uk-quiz-details']">
        <ion-badge color="tertiary" style="padding: 3px;">Quiz</ion-badge>         

      </ion-button>        
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="[
        '/', 'uk-life-essential', 'quiz-results']">
        <ion-badge color="secondary" style="padding: 3px;">Results</ion-badge>         

      </ion-button>        
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isAdmin">
      <ion-button [routerLink]="[
        '/', 'uk-life-essential', 'edit-life-essential',
        '']">
        <ion-icon name="add"></ion-icon>
      </ion-button>        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="first-column">
        <div>
          <ion-card *ngIf="isAdmin">
            <ion-item (click)="onCreateStory()">
              <ion-chip color="tertiary">
                <ion-label color="dark"><ion-card-title>Create New Essential Info</ion-card-title></ion-label>
              </ion-chip>
            </ion-item>                    
          </ion-card>
          <ion-card>
            <ion-item (click)="onTakeQuiz()">
              <ion-chip color="tertiary">
                <ion-label color="dark"><ion-card-title>Take Quiz</ion-card-title></ion-label>
              </ion-chip>
            </ion-item>                    
          </ion-card>
          <ion-card>
            <ion-item (click)="onSeeResults()">
              <ion-chip color="tertiary">
                <ion-label color="dark"><ion-card-title>See Quiz Results</ion-card-title></ion-label>
              </ion-chip>
            </ion-item>                    
          </ion-card>
                    
        </div>
      </ion-col>
      <ion-col size-sm="12" size-md="8" size-lg="8" class="second-column">
        <ion-grid>
          <ion-row align-items-start>
            <ion-col *ngIf="userName" size-sm="4">
              <ion-card-subtitle color="primary">Hi, <i>{{userName | titlecase}}!</i></ion-card-subtitle> 
            </ion-col>
            <ion-col *ngIf="totalUsers"size-sm="4">
              <ion-card-subtitle color="primary">{{ totalUsers }}{{' '}}Users on Platform</ion-card-subtitle> 
            </ion-col>
            
          </ion-row>        
        </ion-grid>
        <ion-grid>    
          <ion-row align-items-start>
            <ion-col>                            
              <ion-text color="primary"><i><a href="https://play.google.com/store/apps/details?id=co.uk.uknowappand.www"><span><img src="../../assets/background-images/playstore_image.png"></span><small>Download the free mobile app for the quiz</small></a></i></ion-text> 
            </ion-col>                   
          </ion-row>
          <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2">         
              
                  <app-essential-item [essential]="essential"></app-essential-item>  
                                  
            </ion-col>
          </ion-row>
        </ion-grid>        
      </ion-col>
    </ion-row>
  </ion-grid>   
</ion-content>
