.space-right {
    float: right;    
}
a {
  text-decoration: none;
}

ion-icon {
  font-size: 1.5rem;
  color: white;
}

ion-badge {
    margin: 3px;
}

ion-col.first-column {
    
    @media only screen and (max-width: 768px) {
        display: none;        
    }
}

ion-button.buttonRight {
    float: right;
}

ion-col.second-column {
  min-width: 310px;
}