<ion-header>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/blog"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="isAdmin">
      <ion-button [routerLink]="[
      '/', 'blog', 'blog-edit',
      blog.id]">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>    
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-badge slot="end" color="primary">
      <div class="fb-share-button" data-href="https://uknow-591ad.firebaseapp.com/blog/blog-detail/${blog.id}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fuknow-591ad.firebaseapp.com%2Fblog%2Fblog-detail%2F${blog.id}&amp;src=sdkpreparse" SameSite="None" Secure class="fb-xfbml-parse-ignore"><ion-icon name="logo-facebook"></ion-icon>{{ ' ' }}<ion-icon name="share-alt"></ion-icon></a></div>
    </ion-badge>
    <ion-card-header>
      <ion-card-subtitle>{{ blog.blogFirstName + ' ' + blog.blogLastName }}</ion-card-subtitle>
      <ion-card-title>{{ blog.blogTitle }}</ion-card-title>
      
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="blog.blogImage"></ion-img>
      {{ blog.blogDetails }}
    </ion-card-content>
    <ion-item>
      <ion-badge slot="start" color="primary" *ngIf="likedBefore">
        <ion-icon name="thumbs-up"></ion-icon>{{ ' ' }}{{ blog.blogLikes }}
      </ion-badge>
      <ion-badge slot="start" color="tertiary" (click)="addLike(blog.id)" *ngIf="!likedBefore">
        <ion-icon name="thumbs-up"></ion-icon>{{ ' ' }}{{ blog.blogLikes }}
      </ion-badge>
      
      <ion-button slot="start" class="space-right" color="primary" (click)="onClickComments()">
        <ion-icon name="chatboxes"></ion-icon><small>{{ ' ' }}({{ numberComments }})</small>
      </ion-button>      
      <ion-badge slot="start" class="space-right" color="tertiary" (click)="addReply(blog.id)">
        <small>Reply{{ ' ' }}</small>
      </ion-badge>
      <ion-button slot="start" color="danger" (click)="onDelete(blog.id)" *ngIf="isLoggedin && isAdmin">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
            
    </ion-item>
      <div *ngIf="isReplying">
      <ion-buttons slot="primary">
        <ion-button (click)="onCreateReply(blog.id)" [disabled]="!form?.valid">
          <ion-icon name="checkmark" color="danger" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <form [formGroup]="form">
        <ion-grid>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">            
              <ion-input type="hidden" formControlName="blogId" value="{{blog.id}}"></ion-input>
              <ion-item>
                <ion-label position="floating">Your reply here....</ion-label>
                <ion-textarea autocorrect formControlName="blogReply" minlength="1"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form> 
    </div> 
    
    <app-blogcomments-item [blogcomments]="blog.blogComments" *ngIf="showComments"></app-blogcomments-item>
  </ion-card>
</ion-content>
