
  <ion-card-header>
    <ion-card-subtitle color="primary">{{ mentor.mentorUserName }}</ion-card-subtitle>
    <ion-card-title text-wrap style="margin-bottom: 0.5rem;">Field: {{ mentor.mentorField }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-img [src]="mentor.mentorImage"></ion-img>    
    <ion-text slot="start" small>
      <small>
        <ion-button fill="clear"
        color="primary"
        [routerLink]="[
        '/', 'find-a-mentor', 'mentor-details',
        mentor.id]"
        ><small>More</small></ion-button> 
      </small> 
    </ion-text>
    <ion-item-divider>
    <ion-label>
      <hr>
    </ion-label>
  </ion-item-divider>
  </ion-card-content>
