<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{ local.localName }}</ion-card-subtitle>
    <ion-card-title>{{ local.localType }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-img [src]="local.localImage"></ion-img>
    <ion-card-subtitle slot="start">Address: {{ local.localAddress }}</ion-card-subtitle>
    <ion-card-subtitle slot="start">Contact: {{ local.localContact }}</ion-card-subtitle>
    <ion-label>Ratings:</ion-label>{{ ' ' }}
    
    <ion-badge slot="end" color="tertiary">{{ local.localRating }}<ion-icon name="star-outline"></ion-icon></ion-badge>
    </ion-card-content>
</ion-card>