<ion-app>
  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar class="background">
        <ion-title>UK Now {{' '}}{{ totalUsers }}{{' '}} Users</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>  
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/featured/tabs/stories">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>International Stories</ion-label>
          </ion-item>
        </ion-menu-toggle>  
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/your-local">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Your Local</ion-label>
          </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/blog">
            <ion-icon name="chatbubbles" slot="start"></ion-icon>
            <ion-label>Blog</ion-label>
          </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/featured/tabs/local-events">
            <ion-icon name="contacts" slot="start"></ion-icon>
            <ion-label>Local Events</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/find-a-mentor">
            <ion-icon name="search" slot="start"></ion-icon>
            <ion-label>Find A Mentor</ion-label>
          </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/about">
            <ion-icon name="information" slot="start"></ion-icon>
            <ion-label>About Us</ion-label>
          </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/uk-life-essential">
            <ion-icon name="trophy" slot="start"></ion-icon>
            <ion-label>UK Life Essential + Quiz</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/ask-a-question">
            <ion-icon name="help" slot="start"></ion-icon>
            <ion-label>Ask A Question</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/profile">
            <ion-icon name="contact" slot="start"></ion-icon>
            <ion-label>User Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/contact">
            <ion-icon name="contact" slot="start"></ion-icon>
            <ion-label>Contact Us</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="previousAuthState ? onLogout() : login()">
            <ion-icon name="{{previousAuthState ? 'log-out' : 'log-in'}}" slot="start"></ion-icon>
            <ion-label>{{ previousAuthState ? 'Logout' : 'Login'}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>      
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
