<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ask a question</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="[
        '/', 'ask-a-question', 'edit-question',
        '']">
        <ion-icon name="add"></ion-icon>
      </ion-button>        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row align-items-start>
      <ion-col *ngIf="userName" size-sm="6">
        <ion-card-subtitle color="primary">Hi, <i>{{userName | titlecase}}!</i></ion-card-subtitle> 
      </ion-col>
      <ion-col *ngIf="totalUsers"size-sm="6">
        <ion-card-subtitle color="primary">{{ totalUsers }}{{' '}}Users on Platform</ion-card-subtitle> 
      </ion-col>
    </ion-row>        
  </ion-grid>
  <ion-grid *ngIf="questionsData.length > 0">
    <div *ngFor="let question of questionsData">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item-sliding>
              <app-question-item [question]="question" (showRepliesId)="onQuestionClick($event)" (showReplies)="onRepliesClicked($event)" (oldQuestion)="onReceiveDelete($event)" (newQuestion)="onReceiveReply($event)"></app-question-item> 
              
              <app-replies-item [question]="question" *ngIf="showIt && question.id === idQuestionShow.id"></app-replies-item>  
              <ion-item-options side="start">
                <ion-item-option color="secondary" (click)="onEdit(question.id)">
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>            
          </ion-list>
          <ion-row> 
            <ion-col>
              <ion-badge color="tertiary" (click)="onScrollFirst(firstPage)" style="padding: 3px;">{{ firstPage }}</ion-badge>         
              <ion-badge *ngIf="previousPage != firstPage" color="warning" (click)="onScrollPrev(previousPage)" style="padding: 3px;">Prev ( {{ previousPage }} )</ion-badge>          
            
              <ion-badge *ngIf="lastPage > nextPage" color="primary" (click)="onScrollNext(nextPage)" style="padding: 3px;">Next ( {{ nextPage }} )</ion-badge>
              <ion-badge color="tertiary" (click)="onScrollLast(lastPage)" style="padding: 3px;">{{ lastPage }}</ion-badge>
            </ion-col>         
          </ion-row>
        </ion-col>    
      </ion-row>
    </div>    
  </ion-grid>
   
</ion-content>
