ion-icon {
  font-size: 1.5rem;
  color: rgb(35, 5, 5);
}

ion-badge {
    margin: 3px;
}

ion-col.first-column {
    
    @media only screen and (max-width: 768px) {
        display: none;        
    }
}

ion-button.buttonRight {
    float: right;
    color: rgb(35, 5, 5);
}

ion-col.second-column {
  min-width: 310px;
}

ion-card-content {
    color: rgb(27, 9, 9);     
}
ion-content {
    
    color: rgb(34, 13, 13); 
     
    ion-item {
      --background: url('../../assets/background-images/bridge_pay_background5.jpeg');
    }  
}